@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

h1, h4, li {
  font-family: 'Abel', sans-serif;
  margin:0;
}

h5 {
  margin:0;
  
}

* , *:before, *:after{ 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  -ms-box-sizing:border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


:root {
  --mainDark:#313131; 
  --mainLight:#fcfcfc;
  --mainBlack: #000000;
  --mainPink: #ffa69eff;
  --mainYellowish: #faf3ddff;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #aed9e0ff;
  --mainDarkerGrey: #313131;
  --mainWhite: #ffffff;
  --mainOffWhite: #faf6d8;
  --mainGrey: #767676;
  --mainTransparentBlack: rgba(0, 0, 0,0.4);
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s linear;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

html {
  height:100%;
}

body {
  background: var(--mainBlack);
  color: var(--mainLight);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  height:100%;
  // overflow: hidden;
  p {
    font-size: 1.4em;
  }
}

section {
  // height: 80vh;
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  mask-image: linear-gradient(to top, transparent 1%, rgb(0, 0, 0) 100%);
}

.black-bg {
  background:var(--mainBlack);
  text-transform: uppercase;
  color:var(--mainLight);
  padding:0.2em;
  margin-right:0.2em;
  font-weight:900;
  font-size:1.3em;
  a {
    color:var(--mainLight);
    text-decoration: none;
  }
}

.about-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-grey {
  border-color: var(--mainGrey);
  color: var(--mainGrey);
}

.btn-grey:hover {
  background: var(--mainGrey);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}

footer {
  font-family: 'Questrial', sans-serif;
  color: var(--mainWhite);
  text-decoration: none;
  display:flex;
  justify-content: flex-end;
  a {
    color: var(--mainGrey);
    &:hover {
      color:var(--mainGrey);
    }
  }
  p {
    color:var(--mainGrey);
    margin:0 0.5em;
    font-size:0.8em;
  }
}

.menu {
  min-height: 80vh;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  .form-group {
    width:20em;
    text-align: center;;
  }
  .about-img {
    width:20em;
    margin:3em;
    -webkit-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 34px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 34px 2px rgba(255, 255, 255, 0.75);
  }
}

.try {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  border: 1px solid #FFF;
  background:#000;
  padding:1em;
  a {
    color:#FFF;
    &:hover {
      color:#FFF;
    }
  }
}

/* Bootstrap Override*/

.bg-light {
  background-color:#FFF !important;
}

.navbar-light .navbar-nav .nav-link {
  color:var(--mainDarkerGrey) !important;
}

.prd-item {
  display: flex;
  align-items: center;
}

.prd-item-shop {
  display: flex;
  flex-direction: column;
  align-content: center;
  width:400px;
  background-color: var(--mainWhite) !important;
}

.prd-img {
  max-width: 200px;
  cursor: pointer;
  background-color: #979797;
  border-radius: 50%;
}

.prd-desc {
  display:flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.card {
  background-color: var(--mainWhite);
  border:solid #FFF 1px;
}

picture {
  img {
    padding:1.5em !important;
  }
}

/* Animations */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Snipcart Overwites */

.snip-layout {
  .snip-footer__copyright {
    font-size:0 !important;
    height:20px;
  }
}

.snip-btn--highlight {
  color:#FFFFFF !important;
  background:var(--mainDarkerGrey) !important;
  &:hover {
    color:#979797;
  }
}

.snipcart-checkout {
  background:transparent;
}
  

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {

  .toolbar__logo {
    font-size:0.8em;
  }
  .black-bg {
    font-size:0.8em;
  }
  
  .contact {
    .about-img {
    margin: 7em 3em 4em 3em;
  }
  }
}
